* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* BODY */
body {
    background: #ffffff;
    color: #222;
}

/* HEADER */
.header {
    width: 100%;
    background: #ffcb05; /* Kuning Modern */
    color: #000;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

.logo {
    font-size: 22px;
    font-weight: 700;
}

/* TITIK 3 */
.menu-kebab {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-kebab span {
    width: 6px;
    height: 6px;
    background: #000;
    border-radius: 50%;
}

/* MENU POPUP */
.menu-popup {
    position: absolute;
    top: 60px;
    right: 40px;
    background: white;
    padding: 15px 20px;
    border-radius: 12px;
    display: none;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
}

.menu-popup a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.menu-popup.show {
    display: flex;
}

/* HERO */
.hero {
    padding-top: 130px;
    text-align: center;
    padding-bottom: 80px;
}

.hero-content {
    max-width: 600px;
    margin: auto;
}

.logo-hero {
    width: 130px;
    height: auto;
    margin-bottom: 20px;
}

.hero-content h1 {
    font-size: 35px;
    font-weight: 700;
}

.hero-content h1 span {
    color: #ffcb05;
}

.hero-content p {
    margin-top: 10px;
    font-size: 18px;
    color: #444;
}

/* SECTIONS */
.section {
    padding: 60px 40px;
    text-align: center;
}

.section h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.section p {
    max-width: 700px;
    margin: auto;
    font-size: 17px;
    line-height: 1.6;
}

/* BUTTON CONTACT */
.btn-wa {
    margin-top: 20px;
    padding: 14px 24px;
    background: #00c853;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
}

/* FOOTER */
footer {
    background: #ffcb05;
    padding: 20px;
    text-align: center;
    font-weight: 600;
    margin-top: 40px;
}
